<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    
    <!-- AdayMain9 -->
    <!--  
    <bean id="realConnectionMaker" class="dao.ConnectionMakerImpl">
       <constructor-arg value ="true"/>
        <constructor-arg value ="E:\\ProjectStpring\\DBInfo\\db.properties"/>
    </bean>
    
     <bean id="connectionMaker" class="dao.CountingConnectionMaker">
       <property name="realConnectionMaker" ref="realConnectionMaker" />
    </bean>

    <bean id="userDao" class="dao.UserDao3">
        <property name="connectionMaker" ref="connectionMaker" />
    </bean>
	-->
	
	  
	<bean id="dbGetProperties" class="properties.DBInfoGetProperties"/>
	
	<bean id="driver" class="com.mysql.jdbc.Driver"/>
	
	<bean id="dataSource" class="dao.InputPropertieSimpleDriverDataSource">
		<constructor-arg>
		   <ref bean="driver"/>
		</constructor-arg> 
        <constructor-arg value ="jdbc:mysql://localhost/spring_study"/>
        <constructor-arg>
		   <ref bean="dbGetProperties"/>
		</constructor-arg>
	</bean>
	
	
	<!--
	
	2018/03/01
	<bean id="countingDataSource" class="dao.CountingDataSource">
		<constructor-arg>
		   <ref bean="dataSource"/>
		</constructor-arg>
	</bean>
	
	<bean id="userDao" class="dao.UserDao4">
       <constructor-arg>
		   <ref bean="countingDataSource"/>
		</constructor-arg>
    </bean>
	
	
	<bean id="jdbcContext" class="dao.JdbcContext">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	

	-->

	<bean id="userDao" class="dao.UserDao8">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
</beans>